@{
    ViewBag.Title = "Home Page";
}

<p style="color:#007CC2;font-weight:bold;font-size:14px;">
    Este é o teste do Marco Aurélio Romeu Soares Jr. para o processo seletivo de Analista Desenvolvedor .NET.
</p>
